.grid {
  display: grid;
  justify-items: center;
  min-height: calc(100vh - 16px);
  padding-bottom: 3rem;
}

// Project gradients

.gradient {
  max-width: 95rem;
  margin: 3rem 0rem;
  padding: 6rem;
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.2)inset, -2px -2px 8px rgba(8, 8, 8, 0.25) inset, 1px 1px 4px rgba(100, 99, 99, 0.25), -1px -1px 4px  rgba(100, 99, 99, 0.25);
  background-image: linear-gradient(0deg, #527a96, #90a7b8, #c5d0da, #fcfcfd);
  border-radius: 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in;
}

.gradient2 {
  max-width: 95rem;
  margin: 3rem 0rem;
  padding: 6rem;
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.2)inset, -2px -2px 8px rgba(8, 8, 8, 0.25) inset, 1px 1px 4px rgba(100, 99, 99, 0.25), -1px -1px 4px  rgba(100, 99, 99, 0.25);
  background-image: linear-gradient(0deg, #534181, #9588ac, #bbb4c5, #fefefe);
  // background-image: linear-gradient(0deg, #4c429e, #8676bc, #bcaed9, #f1e9f7);
  border-radius: 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in;
}
.gradient3 {
  max-width: 95rem;
  margin: 3rem 0rem;
  padding: 6rem;
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.2)inset, -2px -2px 8px rgba(8, 8, 8, 0.25) inset, 1px 1px 4px rgba(100, 99, 99, 0.25), -1px -1px 4px  rgba(100, 99, 99, 0.25);
  background-image: linear-gradient(0deg, #5b6369, #9aa0a5, #c6cacc, #ffffff);
  border-radius: 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in;
}
.gradient4 {
  max-width: 95rem;
  margin: 3rem 0rem;
  padding: 6rem;
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.2)inset, -2px -2px 8px rgba(8, 8, 8, 0.25) inset, 1px 1px 4px rgba(100, 99, 99, 0.25), -1px -1px 4px  rgba(100, 99, 99, 0.25);
  background-image: linear-gradient(180deg, #f0f0f0, #b5c0c4, #9cbac2, #73a1ac);
  border-radius: 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in;
}
.gradient5 {
  max-width: 95rem;
  margin: 3rem 0rem;
  padding: 6rem;
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.2)inset, -2px -2px 8px rgba(8, 8, 8, 0.25) inset, 1px 1px 4px rgba(100, 99, 99, 0.25), -1px -1px 4px  rgba(100, 99, 99, 0.25);
  // background-image: linear-gradient(0deg, #a96951, #bd8f7f, #cfb7af, #ffffff);
  background-image: linear-gradient(0deg, #ca5c62, #db9294, #e4c0c1, #e7ebee);
  border-radius: 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in;
}
.gradient6 {
  max-width: 95rem;
  margin: 3rem 0rem;
  padding: 6rem;
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.2)inset, -2px -2px 8px rgba(8, 8, 8, 0.25) inset, 1px 1px 4px rgba(100, 99, 99, 0.25), -1px -1px 4px  rgba(100, 99, 99, 0.25);
  background-image: linear-gradient(0deg, #546eb1, #909ccb, #c7cce5, #ffffff);
  border-radius: 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in;
}
.gradient7 {
  max-width: 95rem;
  margin: 3rem 0rem;
  padding: 6rem;
  box-shadow: 2px 2px 8px rgba(37, 37, 37, 0.2)inset, -2px -2px 8px rgba(8, 8, 8, 0.25) inset, 1px 1px 4px rgba(100, 99, 99, 0.25), -1px -1px 4px  rgba(100, 99, 99, 0.25);
  background-image: linear-gradient(0deg, #c397da, #b1a2d4, #9cabcf, #85b4c9);
  border-radius: 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in;
}

.gradient:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in;
}
.gradient2:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in;
}
.gradient3:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in;
}
.gradient4:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in;
}
.gradient5:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in;
}
.gradient6:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in;
}
.gradient7:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in;
}

.project {
  display: grid;
  // grid-template-columns: minmax(450px, 650px) minmax(450px, 650px);
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  align-items: center;
  color: #000002;
  width: 100%;
  //   justify-self: center;
}
.projectCurrent {
  display: grid;
  color: #000002;
  width: 100%;
}
.projectImage {
  align-self: start;
}
.projectInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.row {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
  // align-content: flex-start;
}
.icon, .icon2 {
  margin-left: 2rem;
  margin-top: 0.4rem;
  font-size: 2rem;
  transition: color 0.25s ease-in;
}
.icon2 {
  margin-left: 0rem;
}
.icon:hover,.icon2:hover {
  color: var(--paint-color);
  transition: color 0.25s ease-in;
  cursor: pointer;
}
.mbT{
  transition: color 0.25s ease-in;
}
.mbT:hover {
  color: var(--paint-color);
  transition: color 0.25s ease-in;
  cursor: pointer;
}

.outLink {
  text-decoration: none;
  color: #000002;
}

.mb {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  // color: var(--dark-color);
}
.mbT, .mbTask {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.75rem;
  font-family: 'Righteous', cursive;
  // color: var(--dark-color);
}
.mbTT {
  margin-bottom: 1rem;
  font-weight: 800;
  font-family: 'Righteous', cursive;
}

.mtitle {
  padding: 6rem 0rem;
  margin: 3rem 0rem;
  color: var(--primaryL-color);
  font-size: 3rem;
  transition: color 1.5s ease-in;
}
.mtitle:hover {
  transition: color 1.5s ease-in;
  color: #000002;
}
.blackpaint {
  color: #000002;
  font-weight: 700;
}

.ulSt {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0rem;
}

.ulSt li::before {
  content: '\25A3';
  // color: var(--light-color);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-right: 0.35rem;
  // margin-left: 0.85rem;
}

.box {
  margin-right: 1rem;
  font-weight: 500;
}
@media screen and (max-width: 2560px) {
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1380px) {
}
@media screen and (max-width: 800px) {
  .grid {
    padding-bottom: 4rem;
  }
  .gradient {
    margin: 3rem 1.1rem;
    padding: 1rem;
    filter: grayscale(0%);
  }
  .gradient2 {
    margin: 3rem 1.1rem;
    padding: 1rem;
    filter: grayscale(0%);
  }
  .gradient3 {
    margin: 3rem 1.1rem;
    padding: 1rem;
    filter: grayscale(0%);
  }
  .gradient4 {
    margin: 3rem 1.1rem;
    padding: 1rem;
    filter: grayscale(0%);
  }
  .gradient5 {
    margin: 3rem 1.1rem;
    padding: 1rem;
    filter: grayscale(0%);
  }
  .gradient6 {
    margin: 3rem 1.1rem;
    padding: 1rem;
    filter: grayscale(0%);
  }
  .gradient7 {
    margin: 3rem 1.1rem;
    padding: 1rem;
    filter: grayscale(0%);
  }
  .project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 0rem;
    row-gap: 2rem;
    padding: 2rem 1rem;
  }
  .row {
    justify-content: center;
  }
  .mb {
    margin-bottom: 2.5rem;
  }
  .mbT, .mbTask {
    margin-bottom: 2.5rem;
    text-align: center;
  }
  .mbTT {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    text-align: center;
  }
  .projectImage {
    margin-bottom: 1.5rem;
    align-self: center;
  }
  .projectInfo {
    align-self: center;
    width: 100%;

  }
  .ulSt {
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  .links {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
