.grid {
  display: grid;
  justify-items: center;
  min-height: calc(100vh - 16px);
  padding-bottom: 3rem;
}
.gradient {
  max-width: 85rem;
  margin: 3rem 0rem;
  box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2), 0 1px 6px rgba(65, 63, 63, 0.25);
  background: linear-gradient(rgba(143, 148, 251, 0.7), #ef93ec);
  border-radius: 3px;
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  align-items: center;
  padding: 3rem;
  color: var(--light-color);
  width: 100%;
  //   justify-self: center;
}
.projectCurrent {
  display: grid;
  align-items: center;
  padding: 3rem;
  color: var(--light-color);
  width: 100%;
}

.projectImage {
  width: 100%;
  align-self: start;
}
// .projectInfo {
//   width: 100%;
//   align-self: start;
// }

.mb {
  margin-bottom: 0.75rem;
}
.mbT {
  margin-bottom: 0.75rem;
  color: var(--primaryL-color);
}

.mtitle {
  padding: 6rem 0rem;
  margin: 3rem 0rem;
  color: var(--primaryL-color);
  font-size: 3rem;
  transition: color 1.5s ease-in;
}
.mtitle:hover {
  transition: color 1.5s ease-in;
  color: #000002;
}

.ulSt {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.ulSt li::before {
  content: '\25A3';
  color: var(--primaryL-color);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-right: 0.35rem;
  // margin-left: 0.85rem;
}

.box {
  margin-right: 1rem;
}
@media screen and (max-width: 2560px) {
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1380px) {
}
@media screen and (max-width: 800px) {
  .grid {
    padding-bottom: 4rem;
  }
  .gradient {
    margin: 3rem 1.1rem;
  }
  .project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 0rem;
    row-gap: 2rem;
    padding: 3rem;
  }
  .mb {
    margin-bottom: 2.5rem;
  }
  .mbT {
    margin-bottom: 2.5rem;
    text-align: center;
  }
  .projectImage {
    margin-bottom: 1.5rem;
    align-self: center;
  }
  .projectInfo {
    align-self: center;
  }
  .ulSt {
    justify-content: center;
  }
}
