.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 128px;
    color: var(--dark-color);
    // background: var(--gray2-color)
}
.navItem {
    padding: 0rem 5rem;
    text-decoration: none;
    font-size: 1.45rem;
    transition: all 0.25s ease-out;
    font-family: 'Righteous', cursive;
}

.navItem:hover {
    color: var(--primaryL2-color);
    transition: all 0.25s ease-out;
}

.linkStyle {
    color: var(--dark-color);
    text-decoration: none;
}

.pad1 {
    padding-bottom: 1rem;
}
.imgNav {
    width: 100px;
    height: 100%;
}

.activeNav {
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    border-width: 1px;
    border-style: solid;
    border-image-source: linear-gradient(to bottom, #af0426, rgba(0, 0, 0, 0));
    border-image-slice: 1 100%;
    padding: 0 -3rem;
}
