.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: black;
    position: sticky;
    top:0;
    // background: var(--gray2-color)
}
.navItem {
    padding: 0rem 5rem;
    text-decoration: none;
    font-size: 1.25rem;
    transition: all 0.25s ease-out;
}

.navItem:hover {
    color: #3A899C;
    
    transition: all 0.25s ease-out;
}

.linkStyle {
    color: var(--dark-color);
    text-decoration: none;
}

.pad1 {
    padding-bottom: 1rem;
}
.imgNav {
    width: 100px;
    height: 100%;
}

.activeNav {
    // color: var(--primary-color);
    transform: scale(1.2);
    border-left: 1px solid black;
    border-right: 1px solid black;

}
